In [12]:
import pandas as pd
import re
import numpy as np
from sklearn import preprocessing

In [13]:
diamonds=pd.read_csv("../input/data.csv")
display(diamonds.head(10))

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698
5   0.53  Very Good     F     SI2   60.5   60.0  5.19  5.23  3.15   1132
6   0.70    Premium     D     SI2   60.8   61.0  5.69  5.64  3.45   1987
7   1.13       Good     F     SI2   64.0   58.0  6.52  6.58  4.19   3952
8   0.35      Ideal     E     SI1   60.9   55.0  4.53  4.57  2.77    614
9   1.01       Fair     H     VS1   61.4   66.0  6.34  6.24  3.87   5062

In [14]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [15]:
diamonds.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [16]:
diamonds.info()
#More powerful than dtypes in terms of information you can quickly grassp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
carat      40455 non-null float64
cut        40455 non-null object
color      40455 non-null object
clarity    40455 non-null object
depth      40455 non-null float64
table      40455 non-null float64
x          40455 non-null float64
y          40455 non-null float64
z          40455 non-null float64
price      40455 non-null int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [55]:
diamonds.isnull().sum()

carat           0
cut         40455
color       40455
clarity     40455
depth           0
table           0
x               0
y               0
z               0
price           0
price/wt        0
dtype: int64

In [17]:
#looking at all the variables which are objects cut, color, clarity

print("Cut: ",set(df["cut"]))
print("Color: ",set(df["color"]))
print("Clarity: ",set(df["clarity"]))

# I have to process these variables somehow before training a model. Not sure if I should keep color

Cut:  {'Very Good', 'Premium', 'Ideal', 'Fair', 'Good'}
Color:  {'I', 'D', 'G', 'E', 'F', 'H', 'J'}
Clarity:  {'VVS1', 'SI2', 'I1', 'VVS2', 'VS1', 'VS2', 'IF', 'SI1'}

In [20]:
diamonds.shape

(40455, 10)

In [22]:
print(f' model has {diamonds.shape[0]} rows and {diamonds.shape[1]} columns and non nulls')

 model has 40455 rows and 10 columns and non nulls

In [ ]:
#not sure if I should keep the three categorical variables and apply a one hot encoding

In [26]:
diamonds['price/wt']=diamonds['price']/diamonds['carat']

0        5677.433628
1        6654.320988
2        3496.250000
3        1575.000000
4        2251.612903
            ...
40450    4788.288288
40451    3783.561644
40452    5440.476190
40453    3190.277778
40454    2511.111111
Name: price/wt, Length: 40455, dtype: float64

In [32]:
diamonds.head(10)

,carat,cut,color,clarity,depth,table,x,y,z,price,price/wt
0,2.26,Ideal,G,SI2,61.9,57.0,8.44,8.36,5.20,12831,5677.433628
1,2.43,Very Good,H,SI2,63.2,57.0,8.56,8.50,5.39,16170,6654.320988
2,0.80,Premium,F,SI2,61.0,57.0,6.03,6.01,3.67,2797,3496.250000
3,0.40,Ideal,F,I1,63.3,60.0,4.68,4.64,2.95,630,1575.000000
4,0.31,Ideal,G,VS2,61.6,55.0,4.39,4.37,2.70,698,2251.612903
5,0.53,Very Good,F,SI2,60.5,60.0,5.19,5.23,3.15,1132,2135.849057
6,0.70,Premium,D,SI2,60.8,61.0,5.69,5.64,3.45,1987,2838.571429
7,1.13,Good,F,SI2,64.0,58.0,6.52,6.58,4.19,3952,3497.345133
8,0.35,Ideal,E,SI1,60.9,55.0,4.53,4.57,2.77,614,1754.285714
9,1.01,Fair,H,VS1,61.4,66.0,6.34,6.24,3.87,5062,5011.881188

In [36]:
print(diamonds.groupby('cut')['price/wt'].mean().sort_values())

cut
Fair         3737.468421
Good         3873.241694
Ideal        3922.272721
Very Good    4011.693218
Premium      4223.619019
Name: price/wt, dtype: float64

In [40]:
print(diamonds.groupby('color')['price/wt'].mean().sort_values())
print(diamonds.groupby('clarity')['price/wt'].mean().sort_values())

color
E    3787.426635
J    3826.604761
D    3948.783704
I    4000.546520
H    4016.204136
F    4129.482925
G    4182.615921
Name: price/wt, dtype: float64
clarity
I1      2776.012219
SI1     3856.733909
VVS1    3860.279651
SI2     4015.902895
VS2     4080.272657
VS1     4143.406705
VVS2    4198.660097
IF      4276.867594
Name: price/wt, dtype: float64

In [ ]:
#delete the column create to analyse how important are categorical variables
diamonds = diamonds.drop(['price/wt','table'], axis=1)

In [ ]:
#all categorical variables are relevant and have an impact in prices per carat thus I cannot delete anyone for now

In [54]:
diamonds['cut'].unique

<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
40450   NaN
40451   NaN
40452   NaN
40453   NaN
40454   NaN
Name: cut, Length: 40455, dtype: float64>

In [48]:
#converting categorical into numerical 
#using method ordinal encoding based on information 
diamonds['cut']=diamonds['cut'].map({'Fair':1,'Good':2,'Ideal':3,'Very Good':4,'Premium':5})
diamonds['color']=diamonds['color'].map({'E':1,'J':2,'D':3,'I':4,'H':5,'F':6,'G':7})
diamonds['clarity']=diamonds['clarity'].map({'IT1':1,'SI1':2,'VVS1':3,'SI2':4,'VS2':5,'VS1':6,'VVS2':7,'IF':8})

In [49]:

# WARNING !!!!!!!
# create a new method of categorical to numerical using mean 
# and the other ordinal but with industry relevancy regarding cut, color, clarity

In [50]:
diamonds

,carat,cut,color,clarity,depth,table,x,y,z,price,price/wt
0,2.26,NaN,NaN,NaN,61.9,57.0,8.44,8.36,5.20,12831,5677.433628
1,2.43,NaN,NaN,NaN,63.2,57.0,8.56,8.50,5.39,16170,6654.320988
2,0.80,NaN,NaN,NaN,61.0,57.0,6.03,6.01,3.67,2797,3496.250000
3,0.40,NaN,NaN,NaN,63.3,60.0,4.68,4.64,2.95,630,1575.000000
4,0.31,NaN,NaN,NaN,61.6,55.0,4.39,4.37,2.70,698,2251.612903
...,...,...,...,...,...,...,...,...,...,...,...
40450,1.11,NaN,NaN,NaN,62.8,61.0,6.63,6.56,4.14,5315,4788.288288
40451,0.73,NaN,NaN,NaN,62.6,56.0,5.77,5.74,3.60,2762,3783.561644
40452,1.26,NaN,NaN,NaN,59.2,60.0,7.09,7.02,4.18,6855,5440.476190
40453,0.72,NaN,NaN,NaN,61.4,56.0,5.76,5.83,3.56,2297,3190.277778
40454,0.54,NaN,NaN,NaN,60.8,59.0,5.27,5.23,3.19,1356,2511.111111

In [ ]:
# check correlation between price and rest of variables

In [47]:
diamonds.corr()

,carat,cut,color,clarity,depth,table,x,y,z,price,price/wt
carat,1.000000,NaN,NaN,NaN,0.024370,0.180861,0.975010,0.944669,0.948835,0.921898,0.771649
cut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
color,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
clarity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
depth,0.024370,NaN,NaN,NaN,1.000000,-0.296418,-0.028645,-0.032708,0.090617,-0.014383,-0.039306
table,0.180861,NaN,NaN,NaN,-0.296418,1.000000,0.195254,0.181997,0.149342,0.125521,0.083653
x,0.975010,NaN,NaN,NaN,-0.028645,0.195254,1.000000,0.967161,0.966188,0.884500,0.789318
y,0.944669,NaN,NaN,NaN,-0.032708,0.181997,0.967161,1.000000,0.941816,0.859138,0.767778
z,0.948835,NaN,NaN,NaN,0.090617,0.149342,0.966188,0.941816,1.000000,0.857643,0.764213
price,0.921898,NaN,NaN,NaN,-0.014383,0.125521,0.884500,0.859138,0.857643,1.000000,0.913085
price/wt,0.771649,NaN,NaN,NaN,-0.039306,0.083653,0.789318,0.767778,0.764213,0.913085,1.000000