In [1]:
import pandas as pd
import re
import numpy as np
from sklearn import preprocessing

In [2]:
diamonds=pd.read_csv("../input/data.csv")
display(diamonds.head(10))

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698
5   0.53  Very Good     F     SI2   60.5   60.0  5.19  5.23  3.15   1132
6   0.70    Premium     D     SI2   60.8   61.0  5.69  5.64  3.45   1987
7   1.13       Good     F     SI2   64.0   58.0  6.52  6.58  4.19   3952
8   0.35      Ideal     E     SI1   60.9   55.0  4.53  4.57  2.77    614
9   1.01       Fair     H     VS1   61.4   66.0  6.34  6.24  3.87   5062

In [3]:
diamonds.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [4]:
diamonds.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [5]:
diamonds.info()
#More powerful than dtypes in terms of information you can quickly grassp

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 10 columns):
carat      40455 non-null float64
cut        40455 non-null object
color      40455 non-null object
clarity    40455 non-null object
depth      40455 non-null float64
table      40455 non-null float64
x          40455 non-null float64
y          40455 non-null float64
z          40455 non-null float64
price      40455 non-null int64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.1+ MB

In [9]:
#diamonds.isnull().sum()

In [10]:
#looking at all the variables which are objects cut, color, clarity

print("Cut: ",set(diamonds["cut"]))
print("Color: ",set(diamonds["color"]))
print("Clarity: ",set(diamonds["clarity"]))

# I have to process these variables somehow before training a model. Not sure if I should keep color

Cut:  {'Good', 'Ideal', 'Premium', 'Very Good', 'Fair'}
Color:  {'I', 'F', 'E', 'H', 'J', 'D', 'G'}
Clarity:  {'SI2', 'VS2', 'VS1', 'IF', 'VVS1', 'SI1', 'I1', 'VVS2'}

In [11]:
diamonds.shape

(40455, 10)

In [12]:
print(f' model has {diamonds.shape[0]} rows and {diamonds.shape[1]} columns and non nulls')

 model has 40455 rows and 10 columns and non nulls

In [15]:
diamonds['price/wt']=diamonds['price']/diamonds['carat']

In [16]:
diamonds.head(10)

,carat,cut,color,clarity,depth,table,x,y,z,price,price/wt
0,2.26,Ideal,G,SI2,61.9,57.0,8.44,8.36,5.20,12831,5677.433628
1,2.43,Very Good,H,SI2,63.2,57.0,8.56,8.50,5.39,16170,6654.320988
2,0.80,Premium,F,SI2,61.0,57.0,6.03,6.01,3.67,2797,3496.250000
3,0.40,Ideal,F,I1,63.3,60.0,4.68,4.64,2.95,630,1575.000000
4,0.31,Ideal,G,VS2,61.6,55.0,4.39,4.37,2.70,698,2251.612903
5,0.53,Very Good,F,SI2,60.5,60.0,5.19,5.23,3.15,1132,2135.849057
6,0.70,Premium,D,SI2,60.8,61.0,5.69,5.64,3.45,1987,2838.571429
7,1.13,Good,F,SI2,64.0,58.0,6.52,6.58,4.19,3952,3497.345133
8,0.35,Ideal,E,SI1,60.9,55.0,4.53,4.57,2.77,614,1754.285714
9,1.01,Fair,H,VS1,61.4,66.0,6.34,6.24,3.87,5062,5011.881188

In [17]:
print(diamonds.groupby('cut')['price/wt'].mean().sort_values())

cut
Fair         3737.468421
Good         3873.241694
Ideal        3922.272721
Very Good    4011.693218
Premium      4223.619019
Name: price/wt, dtype: float64

In [18]:
print(diamonds.groupby('color')['price/wt'].mean().sort_values())
print(diamonds.groupby('clarity')['price/wt'].mean().sort_values())

color
E    3787.426635
J    3826.604761
D    3948.783704
I    4000.546520
H    4016.204136
F    4129.482925
G    4182.615921
Name: price/wt, dtype: float64
clarity
I1      2776.012219
SI1     3856.733909
VVS1    3860.279651
SI2     4015.902895
VS2     4080.272657
VS1     4143.406705
VVS2    4198.660097
IF      4276.867594
Name: price/wt, dtype: float64

In [19]:
#delete the column create to analyse how important are categorical variables
diamonds = diamonds.drop(['price/wt','table'], axis=1)

In [20]:
#all categorical variables are relevant and have an impact in prices per carat thus I cannot delete anyone for now

In [23]:
diamonds['cut'].unique()

array(['Ideal', 'Very Good', 'Premium', 'Good', 'Fair'], dtype=object)

In [24]:
diamonds['color'].unique()

array(['G', 'H', 'F', 'D', 'E', 'I', 'J'], dtype=object)

In [25]:
diamonds['clarity'].unique()

array(['SI2', 'I1', 'VS2', 'SI1', 'VS1', 'VVS2', 'IF', 'VVS1'],
      dtype=object)

In [ ]:
#converting categorical into numerical 
#using method ordinal encoding based on information 
diamonds['cut']=diamonds['cut'].map({'Fair':1,'Good':2,'Ideal':3,'Very Good':4,'Premium':5})
diamonds['color']=diamonds['color'].map({'E':1,'J':2,'D':3,'I':4,'H':5,'F':6,'G':7})
diamonds['clarity']=diamonds['clarity'].map({'I1':1,'SI1':2,'VVS1':3,'SI2':4,'VS2':5,'VS1':6,'VVS2':7,'IF':8})

In [ ]:

# WARNING !!!!!!!
# create a new method of categorical to numerical using mean 
# and the other ordinal but with industry relevancy regarding cut, color, clarity

In [ ]:
diamonds

In [ ]:
# check correlation between price and rest of variables

In [ ]:
diamonds.corr()